@charset "UTF-8";

@media screen and (min-width: 768px) {

    .corpo {
        background-image: linear-gradient(to bottom, #063A40, #37B2BF);
        background-attachment: fixed;
    }

    #burguer { 
        display: none;
    }

    nav {
        display: block;
    }
    
    .serviços {
        background-image: linear-gradient(to right, #96D2D9, #E3FCFF, #BFBA9F);
    }

    .produto ul li:hover {
        background-color: var(--cor0);
    }

    #chamada {
        background-image: linear-gradient(to right, #96d2d994, #E3FCFF, #bfba9f52);
    }

    .conteudo > .list > .titulo {
        border-radius: 10px;
        background-image: linear-gradient(to right, var(--cor3), transparent);
    }

    .conteudo > .list > h4 {
        border-radius: 10px;
        background-image: linear-gradient(to right, var(--cor3), transparent);
    }

    .list > li{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    }
}