@charset "UTF=8";

@media screen and (min-width: 768px) {

    #burguer { 
        display: none;
    }

    nav {
        display: block;
    }

    #chamada {
        background-image: linear-gradient(to right, #96d2d994, #E3FCFF, #bfba9f52);
        background-attachment: fixed;
    }

    
}