/* Color Theme Swatches in Hex */
.color-theme_TDD_-ROBO_LOGO1024-1-hex { color: #063A40; }
.color-theme_TDD_-ROBO_LOGO1024-2-hex { color: #F2F0D8; }
.color-theme_TDD_-ROBO_LOGO1024-3-hex { color: #BFBA9F; }
.color-theme_TDD_-ROBO_LOGO1024-4-hex { color: #F2F2F2; }
.color-theme_TDD_-ROBO_LOGO1024-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.color-theme_TDD_-ROBO_LOGO1024-1-rgba { color: rgba(6, 58, 64, 1); }
.color-theme_TDD_-ROBO_LOGO1024-2-rgba { color: rgba(242, 240, 216, 1); }
.color-theme_TDD_-ROBO_LOGO1024-3-rgba { color: rgba(191, 186, 159, 1); }
.color-theme_TDD_-ROBO_LOGO1024-4-rgba { color: rgba(242, 242, 242, 1); }
.color-theme_TDD_-ROBO_LOGO1024-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_TDD_-ROBO_LOGO1024-1-hsla { color: hsla(186, 82, 13, 1); }
.color-theme_TDD_-ROBO_LOGO1024-2-hsla { color: hsla(55, 49, 89, 1); }
.color-theme_TDD_-ROBO_LOGO1024-3-hsla { color: hsla(50, 20, 68, 1); }
.color-theme_TDD_-ROBO_LOGO1024-4-hsla { color: hsla(0, 0, 94, 1); }
.color-theme_TDD_-ROBO_LOGO1024-5-hsla { color: hsla(0, 0, 5, 1); }

/* Color Theme Monocromatic */

.color-theme_TDD_-ROBO_LOGO1024-1-hsla { color:#063A40; }
.color-theme_TDD_-ROBO_LOGO1024-2-hsla { color: #37B2BF}
.color-theme_TDD_-ROBO_LOGO1024-3-hsla { color: #519DA6 }
.color-theme_TDD_-ROBO_LOGO1024-4-hsla { color: #96D2D9 }
.color-theme_TDD_-ROBO_LOGO1024-5-hsla { color: #E3FCFF}






