@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor0: #063A40;
    --cor1: #37B2BF;
    --cor2: #519DA6;
    --cor3: #96D2D9;
    --cor4: #E3FCFF;
    --cor5: #BFBA9F;

    /* Fontes */
    --font0: 'Montserrat';
    --font1: Arial, Helvetica, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

.corpo {
    background-color: var(--cor0)
}

.logo {
    text-align: center;
    padding: 15px;
}

#burguer {
    display: block;
    margin-bottom: 10px;
    color: var(--cor4);
    text-align: center;
    padding: 10px;    
}

#burguer:hover {
    color: var(--cor1);
    cursor: pointer;
    transition-duration: .3s;
}

#burguer:active {
    color: var(--cor4);
}

nav {
    display: none;
    padding-bottom: 10px;    
    text-align: center;
    font-family: var(--font0);      
    font-size: 2em;  
}

nav > a {
    display: inline-block;
    padding: 10px;
    color: var(--cor4);    
    text-decoration: none;
    font-weight: bold
       
}

nav > a:hover {
    color: var(--cor1);
    transition-duration: .3s;
}

nav > a:active {
    color: var(--cor4);
}

.serviços {
    padding: 10px;
    background-color: var(--cor4);
    text-align: center;
    font-family: var(--font0);    
}

.serviços h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--cor0);
    text-align: center;
    font-size: 2em;    
}

.serviços p {
    padding: 10px;
    margin-bottom: 30px;
    color: var(--cor0);
    text-align: center;
    font-family: var(--font1);
    font-size: 20px;
    
}

.contato {       
    margin-bottom: 30px;
}

.contato a {
    padding: 10px;
    border: 2px solid var(--cor0);
    border-radius: 20px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.288);    
    color: var(--cor2);
    text-decoration: none;    
    font-weight: bold;
}

.contato a:hover {
    cursor: pointer;
    color: var(--cor5);    
    background-color: var(--cor0);
    transition-duration: .5s;
}

.produto {
    margin-top: 15px;  
    font-family: var(--font0);
    font-size: 1.1em;
    font-weight: bold;   
    
}

.produto ul li {
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    color: var(--cor4);
    text-align: center;
    list-style: none;
    line-height: 2em;    
    max-width: 200px;
}

.produto ul li:hover {
    cursor: pointer;
    color: var(--cor5);
    transition-duration: .3s;
}

#iecom {
    display: none;
}

#iecom > iframe {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    height: 50vh;
    width: 50vw;
    
}

.rodape {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--cor4);
    text-align: center;
    font-family: var(--font0);
    font-weight: bold;
}

.rodape > p > a {
    color: var(--cor4);
}

.rodape > p > a:hover {
    color: var(--cor5);
}





