@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Cores */ 
    --cor0: #063A40;
    --cor1: #37B2BF;
    --cor2: #519DA6;
    --cor3: #96D2D9;
    --cor4: #E3FCFF;
    --cor5: #BFBA9F;

    /* Fontes */
    --font0: 'Montserrat';
    --font1: Arial, Helvetica, sans-serif;
}

* { 
    font-family: var(--font0);
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    color: var(--cor0); /* Retirar do body e colocar no conteudo */
}

.cabeçalho {
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cor0);
    box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.800);
    color: white;
    text-align: center;
}

.cabeçalho > h1, h2 {
    font-weight: lighter;
    text-shadow: 0px 0px 3px white;
}

.conteudo {
    margin: auto;
    max-width: 300px;
}

.conteudo > #list > h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: var(--cor0);
    font-weight: bolder;
    font-size: 2em;
}

/*.conteudo > #conteudo-quem-somos {
    display: inline-block;
    list-style: none;
    text-align: center;
    font-weight: bolder;
    max-width: 375px;
    
} */

#chamada {
    font-weight: bolder;
    background-image: linear-gradient(to right, #96d2d994, #E3FCFF, #bfba9f52);
    color: var(--cor0);
    padding: 50px;
    background-attachment: fixed;
    margin: auto;    
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    

}

#contato p {
    text-align: center;
}

#contato p a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

#contato p a:hover {
    text-decoration: underline;
}

#contato p a:active {
    color: var(--cor0);
}


#list {
    display: inline-block;
    list-style: none;
    text-align: center;
    font-weight: bolder;
    max-width: 375px;
    
    

}

#list li {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;


    
}

p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    
    
}

#p1 {
    font-weight: lighter;
}

#p1-1 {
    font-weight: bold;
}

.contato {
    display: inline-block;
    border: 2px solid var(--cor0);
    border-radius: 20px;
    padding-bottom: 15px;
    padding: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.288);    

}

.contato:hover {
    background-color: var(--cor0);
    transition-duration: .5s;
}

.contato a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
}

.contato a:hover {
    color: var(--cor5);    
    padding: 10px;
    text-decoration: none;
}

a {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--cor0);
    text-decoration: underline;
}

a:active {
    color: var(--cor1);
}

.menu-h {
    text-align: center;
    list-style: none;
    
}


#menu-h {
    text-align: center;
    list-style: none;
    
}


#menu-h li {
    
    text-decoration: none;
}



footer {
    text-align: center;
    padding: 10px;
    
}


footer > a {
    display: inline-block;
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    
}


footer > p {
    padding: 10px;
}


footer > p > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}


footer > p > a:hover {
    text-decoration: underline;
}


footer > p > a:active {
    color: var(--cor0);
}

footer > a:hover {
    text-decoration: underline;
    
}

footer > a:active {
    color: var(--cor1);
}