@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #063A40;
    --cor1: #37B2BF;
    --cor2: #519DA6;
    --cor3: #96D2D9;
    --cor4: #E3FCFF;
    --cor5: #BFBA9F;
}

* { 
    font-family: 'Montserrat';
    font-weight: lighter;
    padding: 0px;
    margin: 0px;


}


body {
    background-color: white;
    color: #03323A;
    font-weight: bolder;
    font-size: 1em;
        
}

#cabeçalho {
    margin: 5px;
    padding: 10px;
    background-color: #03323A;
    color: white;
    border-radius: 20px;
    text-align: center;
    
}

main {
    background-color: white;    
    margin: auto;  
    font-weight: bolder;
    font-size: 1em;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: #03323A;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
}

h4 {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    color: var(--cor0);
    background-image: linear-gradient(to right, var(--cor3), transparent);
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#list {
    list-style: none;
    text-align: center; 
    font-weight: bolder;
    padding: 10px;
}

#list li {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    text-align: justify, center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    
}

p {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    
}

#contato {
    font-weight: bolder;
    background-image: linear-gradient(to right, #96D2D9, #E3FCFF, #BFBA9F);
    color: var(--cor0);
    padding: 50px;
    background-attachment: fixed;
    margin: auto;    
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    

}

#contato p {
    text-align: center;
}

#contato p a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

#contato p a:hover {
    text-decoration: underline;
}

#contato p a:active {
    color: var(--cor0);
}

.menu-h {
    text-align: center;
    list-style: none;
    
}


#menu-h {
    text-align: center;
    list-style: none;
    
}


#menu-h li {
    
    text-decoration: none;
}



footer {
    text-align: center;
    padding: 10px;
    
}


footer > a {
    display: inline-block;
    color: var(--cor0);
    text-decoration: none;
    padding: 10px;
    
}


footer > p {
    padding: 10px;
}


footer > p > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}


footer > p > a:hover {
    text-decoration: underline;
}


footer > p > a:active {
    color: var(--cor0);
}

footer > a:hover {
    text-decoration: underline;
    
}

footer > a:active {
    color: var(--cor1);
}


